:root {
	--background: #ffffff;
	--text: #161616;
	--text-light: #686868;
	--background-light: #efefef;
	--link: #0260ff;

	--red: #c0392b;
	--green: #27ae60;
}
* {
	outline: 0;
}
html {
	-webkit-overflow-scrolling: touch;
}
body {
	background: var(--background);
	color: var(--text);
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
		"Helvetica Neue", sans-serif;
	line-height: 1.66;
	transition: background 0.5s;
}
a {
	color: var(--link);
	text-decoration: none;
}
a:focus,
a:active,
a:hover {
	text-decoration: underline;
}
input {
	background: var(--background);
	color: var(--text);
	display: block;
	border: 1px solid var(--text-light);
	border-radius: 0.5rem;
	box-sizing: border-box;
	font-size: 1rem;
	width: 100%;
	padding: 1rem;
	margin-bottom: 1rem;
}
button {
	background: var(--text);
	color: var(--background);
	border: none;
	padding: 0.5rem 2rem;
	font-size: inherit;
	border-radius: 0.5rem;
	cursor: pointer;
}
button:hover,
button:focus,
button:active {
	text-decoration: underline;
}
button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
	text-decoration: none !important;
}
img {
	max-width: 100%;
}
.wrap {
	width: 100%;
	max-width: 640px;
	margin-inline: auto;
	padding: 0px 1rem;
	box-sizing: border-box;
}
.light {
	color: var(--text-light);
}
.small {
	font-size: 0.9rem;
}
.semibold {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.flex {
	display: flex;
	align-items: center;
}
.space-between {
	justify-content: space-between;
}
.flex-1 {
	flex: 1;
}
.row {
	padding: 1rem 0px;
}
.icon.action {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0.5rem;
	border-radius: 50%;
	box-sizing: border-box;
}
.icon.action:hover,
.icon.action:focus,
.icon.action:active {
	background: var(--background-light);
}

#app-containter {
	visibility: hidden;
}
#toast {
	background-color: var(--text);
	color: var(--background);
	text-align: center;
	border-radius: 0.1rem;
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	left: 0px;
	right: 0px;
	top: 0rem;
	max-height: 0;
	margin: auto;
	overflow: hidden;
	transition: max-height 0.25s ease-in;
}
#toast.show {
	max-height: 5rem;
}
#toast.error {
	background: var(--red);
}
#toast.success {
	background: var(--green);
}
#intro {
	font-size: 1.1rem;
	margin-top: 5rem;
}
#intro #logo {
	width: 3rem;
}
#intro footer {
	margin-top: 5rem;
}
header h1 {
	margin: 0.5rem 0px 0px;
	line-height: 1.3;
}
article.item {
	align-items: normal;
	margin: 1rem 0rem 2rem;
}
article.item a.title {
	font-size: 1.2rem;
	color: inherit;
	line-height: 1.5;
}
article.item a.title:visited {
	color: var(--text-light);
}
article img.atomateAvatar {
	width: 2rem;
	height: 2rem;
	margin-right: 1rem;
	margin-top: 0.5rem;
	border-radius: 0.5rem;
}
article .meta a {
	color: inherit;
}
#search {
	margin: 0px 0px 2rem;
}
#actionButton {
	display: block;
	margin: 1rem auto 2rem;
}
